<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>ch.magigalcodewit.vdv.db-hook</string>
    <key>CFBundleName</key>
    <string>DB Login Hook</string>
    <key>CFBundleDisplayName</key>
    <string>DB Login Hook</string>
    <key>CFBundleVersion</key>
    <string>1.0.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.2</string>
    <key>NSHumanReadableCopyright</key>
    <string>Q Misell, 2024 - EUPL v1.2</string>
    <key>CFBundleExecutable</key>
    <string>db-hook</string>
    <key>CFBundleIconFile</key>
    <string>Icon.png</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>DB Navigator</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>dbnav</string>
            </array>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>11</string>
</dict>
</plist>